USE [master]
GO
/****** Object:  Database [QLTH]    Script Date: 4/22/2025 11:00:10 AM ******/
CREATE DATABASE [QLTH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.WINCC\MSSQL\DATA\QLTH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.WINCC\MSSQL\DATA\QLTH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTH]
GO
USE [QLTH]
GO
/****** Object:  User [SIMATIC HMI VIEWER User]    Script Date: 4/22/2025 11:00:10 AM ******/
CREATE USER [SIMATIC HMI VIEWER User] FOR LOGIN [LAPTOP-PD7H3O52\SIMATIC HMI VIEWER]
GO
/****** Object:  User [SIMATIC HMI User]    Script Date: 4/22/2025 11:00:10 AM ******/
CREATE USER [SIMATIC HMI User] FOR LOGIN [LAPTOP-PD7H3O52\SIMATIC HMI]
GO
/****** Object:  DatabaseRole [SIMATIC HMI VIEWER role]    Script Date: 4/22/2025 11:00:10 AM ******/
CREATE ROLE [SIMATIC HMI VIEWER role]
GO
/****** Object:  DatabaseRole [SIMATIC HMI role]    Script Date: 4/22/2025 11:00:10 AM ******/
CREATE ROLE [SIMATIC HMI role]
GO
ALTER ROLE [SIMATIC HMI VIEWER role] ADD MEMBER [SIMATIC HMI VIEWER User]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SIMATIC HMI VIEWER User]
GO
ALTER ROLE [SIMATIC HMI role] ADD MEMBER [SIMATIC HMI User]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [SIMATIC HMI User]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SIMATIC HMI User]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SIMATIC HMI User]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SIMATIC HMI VIEWER role]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [SIMATIC HMI role]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SIMATIC HMI role]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SIMATIC HMI role]
GO
/****** Object:  Table [dbo].[ChiTietDH]    Script Date: 4/22/2025 11:00:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDH](
	[MaDH] [varchar](10) NULL,
	[MaHoa] [varchar](10) NULL,
	[SoLuong] [nchar](10) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 4/22/2025 11:00:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [varchar](10) NOT NULL,
	[MaKH] [varchar](10) NULL,
	[NgayDat] [nchar](10) NULL,
	[TongTien] [nchar](10) NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoa]    Script Date: 4/22/2025 11:00:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoa](
	[MaHoa] [varchar](10) NOT NULL,
	[TenHoa] [nvarchar](100) NULL,
	[GiaBan] [float] NULL,
	[MaLoai] [varchar](10) NULL,
	[SoLuongTon] [int] NULL,
 CONSTRAINT [PK_Hoa] PRIMARY KEY CLUSTERED 
(
	[MaHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/22/2025 11:00:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[DienThoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHoa]    Script Date: 4/22/2025 11:00:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHoa](
	[MaLoai] [varchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiHoa] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietDH] ON 

INSERT [dbo].[ChiTietDH] ([MaDH], [MaHoa], [SoLuong], [ID]) VALUES (N'D1', N'01', N'1         ', 1)
INSERT [dbo].[ChiTietDH] ([MaDH], [MaHoa], [SoLuong], [ID]) VALUES (N'D2', N'02', N'1         ', 2)
INSERT [dbo].[ChiTietDH] ([MaDH], [MaHoa], [SoLuong], [ID]) VALUES (N'D3', N'03', N'1         ', 3)
SET IDENTITY_INSERT [dbo].[ChiTietDH] OFF
GO
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [NgayDat], [TongTien]) VALUES (N'D1', N'K1', N'21-02-2025', N'10000     ')
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [NgayDat], [TongTien]) VALUES (N'D2', N'K2', N'24-06-2025', N'20000     ')
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [NgayDat], [TongTien]) VALUES (N'D3', N'K3', N'22-09-2025', N'15000     ')
GO
INSERT [dbo].[Hoa] ([MaHoa], [TenHoa], [GiaBan], [MaLoai], [SoLuongTon]) VALUES (N'01', N'HoaDao', 10000, N'L1', 5)
INSERT [dbo].[Hoa] ([MaHoa], [TenHoa], [GiaBan], [MaLoai], [SoLuongTon]) VALUES (N'02', N'HoaMai', 20000, N'L2', 10)
INSERT [dbo].[Hoa] ([MaHoa], [TenHoa], [GiaBan], [MaLoai], [SoLuongTon]) VALUES (N'03', N'HoaLan', 15000, N'L3', 20)
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DienThoai]) VALUES (N'K1', N'Nguyễn Văn Nam', N'0987654321')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DienThoai]) VALUES (N'K2', N'Nguyễn Văn Nhất', N'0123456789')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DienThoai]) VALUES (N'K3', N'Nguyễn Văn Nhị', N'0987651234')
GO
INSERT [dbo].[LoaiHoa] ([MaLoai], [TenLoai]) VALUES (N'L1', N'HoaDao')
INSERT [dbo].[LoaiHoa] ([MaLoai], [TenLoai]) VALUES (N'L2', N'HoaMai')
INSERT [dbo].[LoaiHoa] ([MaLoai], [TenLoai]) VALUES (N'L3', N'HoaLan')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__1F03187692BAA0EB]    Script Date: 4/22/2025 11:00:11 AM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[DienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
ALTER TABLE [dbo].[Hoa]  WITH CHECK ADD  CONSTRAINT [FK_Hoa_LoaiHoa] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiHoa] ([MaLoai])
GO
ALTER TABLE [dbo].[Hoa] CHECK CONSTRAINT [FK_Hoa_LoaiHoa]
GO
/****** Object:  DdlTrigger [OnTriggerDboSchema]    Script Date: 4/22/2025 11:00:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [OnTriggerDboSchema] ON database FOR create_table, create_view AS BEGIN   DECLARE @xmlEventData xml   SELECT    @xmlEventData = eventdata()   DECLARE @schemaName nvarchar(max)   DECLARE @objectName nvarchar(max)   DECLARE @DynSql nvarchar(max)      SET @schemaName    = convert(nvarchar(max), @xmlEventData.query('/EVENT_INSTANCE/SchemaName/text()'))   SET @objectName    = convert(nvarchar(max), @xmlEventData.query('/EVENT_INSTANCE/ObjectName/text()'))   IF(@schemaName='')   BEGIN     SET @DynSql = N'alter schema [dbo] transfer [' + @schemaName + N'].[' + @objectName + N']'     EXEC sp_executesql @statement=@DynSql   END END SET QUOTED_IDENTIFIER ON SET ANSI_NULLS ON 
GO
ENABLE TRIGGER [OnTriggerDboSchema] ON DATABASE
GO
USE [master]
GO
